In [1]:
import requests
from bs4 import BeautifulSoup
import csv

In [2]:
csv_file = open("quotes.csv", "w", newline="", encoding='utf-8')
writer = csv.writer(csv_file)
writer.writerow(['Text', 'Author', 'Tags'])

18

In [27]:
#  URL
url = "http://quotes.toscrape.com"

In [29]:
while url:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    # Extract quotes 
    for quote in soup.select('.quote'):
        text = quote.select_one('.text').text
        author = quote.select_one('.author').text
        tags = [tag.text for tag in quote.select('.tag')]
        writer.writerow([text, author, ", ".join(tags)])

    # next page 
    next_page = soup.select_one('.next > a')
    url = ("http://quotes.toscrape.com" + next_page['href']) if next_page else None

In [30]:
csv_file.close()
print("Scraping complete. Data saved to 'quotes.csv'")

Scraping complete. Data saved to 'quotes.csv'

In [21]:
import pandas as pd

df = pd.read_csv("quotes.csv")
df.head()

,Text,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"change, deep-thoughts, thinking, world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities, choices"
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational, life, live, miracle, miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy, books, classic, humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself, inspirational"